<div class="cont">
    <link type="text/css" rel="stylesheet" href="src/css/lightGallery.css" /> 
    <link type="text/css" rel="stylesheet" href="dist/css/lightGallery.css" /> 
    <link href="style.css" rel="stylesheet" type="text/css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- jQuery version must be >= 1.8.0; -->

<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

<script src="dist/js/lightgallery.min.js"></script>

<!-- lightgallery plugins -->
<script src="modules/lg-thumbnail.min.js"></script>
<script src="modules/lg-fullscreen.min.js"></script>

    <div class="page-head">
      <h1>jQuery lightgallery</h1>
      <p class="lead">A lightweight, customizable, modular, responsive, lightbox gallery plugin for jQuery.</p><a href="https://github.com/sachinchoolur/lightGallery" class="btn btn-primary btn-lg">View on github</a></div>
  
    <div class="demo-gallery">
      <ul id="lightgallery">
        <li class="video" data-src="https://www.youtube.com/watch?v=meBbDqAXago" data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video1-cover.jpg">
          <a href="">
            <img class="img-responsive" src="https://sachinchoolur.github.io/lightGallery/static/img/thumb-v-y-1.jpg">
            <div class="demo-gallery-poster">
              <img src="https://sachinchoolur.github.io/lightGallery/static/img/play-button.png">
            </div>
          </a>
        </li>
        <li class="video" data-src="https://www.youtube.com/watch?v=Pq9yPrLWMyU"
         data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video2-cover.jpg">
          <a href="">
            <img class="img-responsive" src="https://sachinchoolur.github.io/lightGallery/static/img/thumb-v-y-2.jpg">
            <div class="demo-gallery-poster">
              <img src="https://sachinchoolur.github.io/lightGallery/static/img/play-button.png">
            </div>
          </a>
        </li>
        <li class="video" data-src="https://vimeo.com/1084537"
         data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/v-video1-cover.jpg">
          <a href="">
            <img class="img-responsive" src="https://sachinchoolur.github.io/lightGallery/static/img/thumb-v-v-1.jpg">
            <div class="demo-gallery-poster">
              <img src="https://sachinchoolur.github.io/lightGallery/static/img/play-button.png">
            </div>
          </a>
        </li>
        <li class="video" data-src="https://vimeo.com/35451452"
         data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/v-video2-cover.jpg">
          <a href="">
            <img class="img-responsive" src="https://sachinchoolur.github.io/lightGallery/static/img/thumb-v-v-2.jpg">
            <div class="demo-gallery-poster">
              <img src="https://sachinchoolur.github.io/lightGallery/static/img/play-button.png">
            </div>
          </a>
        </li>
      </ul>
      <span class="small">Click on any of the images to see lightGallery</span>
    </div>
  </div>
  <script>
  $(document).ready(function() {
  $('#lightgallery').lightGallery();
});
  </script>