/* GLOBALES DIV
div {
    display: block;
}

body > div:nth-child(18) {
    display: none;
}
*/

b {
    font-weight: bold;
}

/* PRODUCTOS Parte de Familias */
#products #producto {
    padding: 0px;
}

#products #producto img {
    height: 120px;
    width: 120px;
    margin: 5px;
    background-color: #0066cc;
}

#products #producto a img{
    transition: 0.6s;
    border-radius: 0%;
    margin: 5px auto;
}

/* PRODUCTOS Parte de Slider */

#products .carousel {
    top: 9%;
    margin: 0 auto;
    width: 90%;
    height: 450px;
}

.slick-initialized .slick-slide {
    display: block;

}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slider-nav .slick-slide {
    width: 80px !important;
    height: 50px !important;
}

.slider-nav {
    margin: 0 auto;
    position: relative;
    top: 5%;
    width: 23%;
}

body {
    color: #676767 !important;
}

body, h1, h2, h3, h4, h5, small, p, span, a, .headline__subtitle, .img-caption {
    font-family: 'Open Sans', Regular, sans-serif !important;
    src: url('../fonts/open-sans-regular/OpenSans-Regular.ttf');
    font: 'Open Sans', sans-serif !important;
}

.img-caption {
    font-size: 30px !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

.slick-prev:before {
    color: #0b4075;
}
.slick-next:before {
    color: #0b4075;
}

#carousel > div > div > div.slick-slide.slick-current.slick-active > img {
    height: 400px !important;
}


.logo img{
    margin: 0 auto;
    display: block;
    width: auto;
    height: auto;
}


#products > div > div > div.col-12.col-lg-6.content-section__media > div.slider-nav.slick-initialized.slick-slider .slick-slide img {
    height: 50px !important;
}

.aside-content {
    border: 0px !important;
}

#nombre-familia {
    position: relative;
    height: 100px;
    left: 5%;
    top: 12%;
}

#info-familia {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: 10%;
    text-align: justify;
    color: black;
}


/* SLIDER HOME */

.home-slider {
    top: 100px;
    margin: 0 auto;
    height: 500px !important;
    width: 1140px;
    overflow: hidden;
}

/* SLIDER ABOUT */

.about-slider {
    top: 200px;
    margin: 0 auto;
    height: 500px !important;
    width: 100%;
    overflow: hidden;
}

/* ARROWS */ 
.home-slider .slick-prev {
    left: 15px;
    height: 60px;
    width: 60px;
    z-index: 500;

    background-color: #0066cc;
    border-radius: 50%;
    transition: none;
}

.home-slider .slick-next {
    right: 15px;
    height: 60px;
    width: 60px;
    background-color: #0066cc;
    border-radius: 50%;
    transition: none;
}

.slider-nav .slick-prev {
    background-color: #0066cc;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    transition: none;
    left: -80px;
}
.slider-nav .slick-next {
    background-color: #0066cc;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    transition: none;
    left: 130px;
}

.slick-next:focus, .slick-prev:focus {
    background-color: #0066cc;
}
/* MULTIMEDIA */

#photos {
    position: relative;
    height: 100%;
    width: 100%;
}

#videos {
    position: relative;
    margin: 0 auto;
    top: 1%;
    height: 100%;
    width: 85%;
}


/* CONTENEDOR GALERIA EN ZOOM */

.pswp__container {
    margin: 0 auto;
}

.pswp__zoom-wrap {
    margin: 0 auto;
}

.pswp__item {
    background-color: white !important;
}

/* IMAGEN GALERIA EN ZOOM */
.pswp__img {
    margin:0 auto;
    display: block;
    width: 90% !important;
    height: auto !important;
    left: -26%;
    top: 100px !important;
}

/* HTML5-VIDEOS*/

.demo-gallery {
    position: relative;
    top: 5%;
}

figure {
    height: 150px !important;
    padding: 7.5px 7.5px !important;
}


.lg-icon {
font-family: 'lg' !important;
}

/* MODIFICACIONES POST-BAUMA */

.pdf-about {
    position: relative;
    top: 180px;
    left: 0px;
    height: 30px;
    width: 30px;
}

.pdf-icon {
    height: 30px;
    width: 30px;
}

.team__item {
    width: 90px;
    height: 90px;
}

.team__item img {
    margin: 0px 15px !important;
    width: 125px;
    height: 125px;
}

.team__item h4 {
    text-align: left !important;
}

.details {
    text-align: center;
    font-size: 18px;
    background-color: #0066cc;
    color: white;
    border-radius: 15px;
}

.team__item:first-of-type {
    padding-right: 0px !important;
}

.calendario {
    float: left;
    padding: 10px 10px;
    position: relative;
    top: 20px;
}

.calendar-wrapper {
    text-align: center;
    position: relative;
    width: 100%;
}

.multimedia-wrapper {
    height: 380px;
}

.fichas-wrapper {
    width: 100%;
}

.ficha img {
    height: 150px;
    width: 150px;
    margin: 30px 0px;
}


/* MEDIA QUERYS */

@media only screen and (max-width:850px)
{ 
    /* LOGO */
    .logo img {
        height: 150px;
        width: 150px;
    }
    .img-caption {
        font-size: 24px !important;
    }

    /* HOME */
	.home-slider {
        top: 250px;
        width: 750px;
    }

    /* COMPANY */
    .pdf-about {
        top: 80px;
    }
    .about-slider {
        top: 100px;
    }

    /* SPARE PARTS */
    .slider-nav {
        top: 2%;
    }
    .slider-nav .slick-prev {
        left: -60px;
    }
    .slider-nav .slick-next {
        left: 180px;
    }

    /* MULTIMEDIA */
    .multimedia-wrapper {
        height: 500px;
        top: 100px;
    }
    .team__item {
        margin: 100px 0px;
    }
    .team {
        height: 600px;
    }

    /* MULTIMEDIA FOTOS */
    .pswp__img {
        left: 5%;
        top: 350px !important;
    }

    /* MULTIMEDIA VIDEOS */
    .demo-gallery > ul > li {
        margin: 0px 30px;
        margin-bottom: 45px;
    }

    /* FICHAS */
    .ficha img {
        margin: 20px 0px;
    }
}

@media only screen and (min-width:850px)
{
    .demo-gallery {
        height: 550px;
    }
}